# =========================
# 1. 深度学习输出与模型权重
# =========================
# 忽略所有的 PyTorch 模型文件
*.pth
*.pt
*.ckpt

# 忽略日志文件
*.log

# 忽略代码自动生成的图片和数据记录
*.png
*.jpg
*.json
*.csv
*.pdf
*.zip


# =========================
# 2. Python 与 Jupyter 缓存
# =========================
# 忽略 Python 编译产生的缓存文件
__pycache__/
*.py[cod]
*$py.class

# 忽略 Jupyter Notebook 产生的自动保存点
.ipynb_checkpoints/


# =========================
# 3. 虚拟环境
# =========================
# 如果你在该目录下直接创建了虚拟环境，忽略它们
venv/
env/
.env/
conda-env/